.lots {
  margin-bottom: 120px;
}

.lots__title {
  margin-bottom: 27px;
}

.lots__wrap {
  margin-bottom: 30px;
}

.lots__item {
  max-width: 334px;
  min-height: 595px;
  padding: 12px 8px;
  color: white;
  position: relative;
  z-index: 1;
}

.lots__item-img {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: -1;
}

.lots__item-title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  padding-top: 48px;
  padding-right: 40px;
  padding-left: 40px;
}

.lots__item-text {
  font-size: 20px;
  padding: 40px;
}

.lots__link {
  max-width: 192px;
  font-size: 20px;
  margin-top: 36px;
}

.overlay{
  height: 596px;
}